body{
	background-color: #828081;
	width: 100%;
}

.container{
	height: 100%;
	width: 100%;
}

.library-shelf{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 5px auto;
}

.book{
	position: relative;
	border: 1px solid black;
	background-color: #F1F4FF;
	width: auto;
	min-width: 200px;
	height: 250px;
	margin: 2px 2px;
}

.book-title{
	font-size: 24px;
}

.book-author{
	font-size: 18px;

}

.book-read{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 5%;
}

.book-title,
.book-author,
.book-pages,
.book-read,
.book-id{
	margin: 5% auto;
	width: fit-content;
	font-family: 'Gentium Book Basic', serif;
}

.book-title:hover,
.book-author:hover,
.book-pages:hover{
	cursor: default;
}
.book-read:hover{
	cursor: pointer;
}

input{
	width: 60%;
	text-align: center;	
}


.menu-show{
	display: block;
	width: auto;
	height: 2em;
	margin: auto;
}
.new-book-menu{
	margin: auto;
	text-align: center;
	display: none;
	width: 25%;
	background-color: beige;
	border-radius: 20%;
}


.delete-book-button{
	margin: 3px 0 0 3px;
}

.hidden{
	display: none;
}